<div class="limiter">
    <div class="container-login100">
		<div class="wrap-login100">
			<div class="login100-pic js-tilt" data-tilt>
				<img src="https://i.imgur.com/Yin5AqC.png" alt="IMG">
			</div>

			<form class="login100-form validate-form">
				<span class="login100-form-title">Rental System</span>

                <div class="wrap-input100 validate-input">
					<input class="input100" type="text" id="usuario" placeholder="Usuário">
					<span class="focus-input100"></span>
					<span class="symbol-input100"><i class="fa fa-envelope" aria-hidden="true"></i></span>
				</div>

				<div class="wrap-input100 validate-input">
					<input class="input100" type="password" id="senha" placeholder="Senha">
					<span class="focus-input100"></span>
					<span class="symbol-input100"><i class="fa fa-lock" aria-hidden="true"></i></span>
				</div>
					
				<div class="container-login100-form-btn">
					<button class="login100-form-btn" type="submit" (click)="fazerLogin()">Login</button>
                </div>
			</form>

		</div>
	</div>
</div>