<table class="table table-responsive" mat-table>
    <thead> 
        <tr>
            <th>Nome</th>
            <th>CPF/CNPJ</th>
            <th>Tipo</th>	
            <th>Telefone</th>	
            <th>Celular</th>	
            <th>E-mail</th>	 
            <th></th>         
        </tr>
    </thead>
        <tr *ngFor="let cliente of clienteList">
            <td> {{cliente.nome}} </td>	
            <td> {{cliente.cpf_cnpj}} </td>	
            <td> {{cliente.tipo}} </td>	
            <td> {{cliente.telefone}} </td>	
            <td> {{cliente.celular}} </td>	
            <td> {{cliente.email}} </td>	
            <td style="width: 12.3%;">
                <button class="button" (click)="onEdit(cliente.id)" mat-raised-button type="button">
                    <mat-icon>edit</mat-icon>
                </button>
                &nbsp;
                <button class="button" (click)="openDialog(cliente.id)" mat-raised-button type="button">
                    <mat-icon>delete</mat-icon>
                </button>
            </td>
        </tr>
</table>