.button-yes {
    background-image: linear-gradient(to bottom, rgba(32,32,32,1), green 25%);
    color: white;
    font-size: 15px;
}

.button-no {
    background-image: linear-gradient(to bottom, rgba(32,32,32,1), firebrick 25%);
    color: white;
    font-size: 15px;
}